pkgbase = trdpi-bin
	pkgdesc = Turkiye'de engellenen sitelere erisimi acan uygulama
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/Furkan003/LinuxDpiTurkey
	arch = x86_64
	license = MIT
	depends = nftables
	depends = polkit
	depends = libx11
	depends = libxkbcommon
	depends = cairo
	depends = pango
	depends = fontconfig
	optdepends = systemd-resolvconf: adres ayarinin kalici yazilmasi
	provides = trdpi
	conflicts = trdpi
	noextract = trdpi-0.1.4.deb
	source = trdpi-0.1.4.deb::https://github.com/Furkan003/LinuxDpiTurkey/releases/download/v0.1.4/trdpi_0.1.4_amd64.deb
	sha256sums = e631ab2ec1e677aaa74c1783d9a5cddb7605acae56c5489500ad02a343bdeba1

pkgname = trdpi-bin
