pkgbase = trdpi-bin
	pkgdesc = Turkiye'de engellenen sitelere erisimi acan uygulama
	pkgver = 0.1.8
	pkgrel = 1
	url = https://github.com/Furkan003/LinuxDpiTurkey
	arch = x86_64
	license = MIT
	depends = nftables
	depends = polkit
	depends = libx11
	depends = libxkbcommon
	depends = cairo
	depends = pango
	depends = fontconfig
	optdepends = systemd-resolvconf: adres ayarinin kalici yazilmasi
	provides = trdpi
	conflicts = trdpi
	noextract = trdpi-0.1.8.deb
	source = trdpi-0.1.8.deb::https://github.com/Furkan003/LinuxDpiTurkey/releases/download/v0.1.8/trdpi_0.1.8_amd64.deb
	sha256sums = 55f997f81a71127598773d6653f9e4c4128595808f2a38654c1c87524c78fcc5

pkgname = trdpi-bin
